.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 15px solid rgb(201, 15, 201);
    background-color: rgb(126, 70, 18);
    overflow: auto;
    /* height: 1000px;
    width: 1000px; */
}

.flex-container>div {
    background-color: #946ad8be;
    width: 300px;
    margin: 15px;
    padding: 3px;
    text-align: center;
    line-height: auto;
    font-size: 30px;
    border-radius: 25px;
}

.Bordas {
    border-radius: 25px;
}

#grad1 {
    background-color: red;
    background-image: radial-gradient(circle, red, orange, yellow, green, blue, indigo, violet);
  }